<!DOCTYPE html>
<meta charset="utf-8">
<title>Tramway Commits</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<style>
  summary:focus {
    outline: none;
  }
  td:nth-child(1), td:nth-child(2), td:nth-child(3) {
    width: 100px;
  }
  [disabled] {
    opacity: .2;
  }
</style>

<div class="card" id="app">
  <div class="card-body">
    <div class="form-check form-check-inline">
      <label class="form-check-label"><input type="checkbox" v-model="expand"> Expand all</label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label"><input type="checkbox" v-model="hideRemoved"> Hide removed</label>
    </div>
    <div class="form-group row">
      <label for="text-filter" class="col-3 col-form-label">Filter by username</label>
      <div class="col-9">
        <input class="form-control" id="text-filter" placeholder="Type text..." v-model="filters.username" v-on:input="update">
      </div>
    </div>
      <details v-for="item in data" :open="expand" :disabled="item.isRemoved" :hidden="hideRemoved && item.isRemoved">
        <summary class="h3">
          {{ item.package }}
        </summary>
        <table class="table table-hover">
          <div class="form-check form-check-inline">
            <label class="form-check-label"><input type="checkbox" v-model="item.isRemoved" @change="change(item)"> Is removed</label>
          </div>
          <tr v-for="commit in item.commits">
            <td>
              <a :href="commitUrl(item.package, commit.commit)">{{ commit.commit }}</a>
            </td>
            <td>{{ commit.author }}</td>
            <td>{{ commit.date }}</td>
            <td>{{ commit.description }}</td>
          </tr>
        </table>
      </details>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
<script src="main.js"></script>
